.latest-news {
    .latest-news-top-labels {
        .latest-news-label {
            font-size: 0.8rem;
            color: var(--titulos);
            font-weight: bold;
        }
        .btn-view-all {
            font-size: 0.6rem;
            color: var(--textos-normais);
        }
    }
}