.home {
    main {
        margin-top: 15px;

        app-card {
            padding-bottom: 15px;
            display: flex;
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: .6rem;
            }
            i{
                font-size: .8rem;
                color: var(--textos-normais);
            }
        }

        .card-collection {
            p {
                font-size: .6rem;
                text-align: center;
            }
        }
    }
    .latest-news {
        padding-top: 15px;
        height: auto;
        background-color: var(--panels);
        color: var(--titulos);
        .btn-view-all {
            color: var(--titulos);
        }
    }
}
@media (min-width: 992px) {
    .home {
        main {
            width: calc(74.42vw - 3rem);
            display: inline-flex;
            flex-direction: column;
        }
        .latest-news {
            display: inline-flex;
            width: calc(24.58vw + 3rem);
            height: calc(100vh - 5rem);
            position: fixed;
            right: 0;
            box-shadow: -0.25rem 0rem 0.75rem rgba(0, 0, 0, 0.05);
            z-index: 1;
        }
    }
}