<div class="watches container-fluid">
  <div class="row">
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col-3">
      <app-card image="http://www.pirovaniwatches.com/assets/imgs/carrossel/cr1.png" [hasFooter]="true" class="w-100">
        <div class="content-body">
          <div class="row">
            <div class="col-8">
              <img class="rounded-circle card-user-img" src="http://www.pirovaniwatches.com/assets/imgs/profile/gerentao-pw-site-profile.png" />
              GERENTÂO HUEHUEBR
            </div>
            <div class="col-4">
              GOLD PARTNER
            </div>
          </div>
        </div>
        <div class="content-footer">
          <div class="row">
            <div class="col">
              <p class="font-weight-light">LEDGER INOX BLACK</p>
              <h1>1000.000<sub>PRVN</sub></h1>
              <P>Publish in: 07 december 2018</P>
            </div>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-3">
      <app-card image="http://www.pirovaniwatches.com/assets/imgs/carrossel/cr1.png" [hasFooter]="true" class="w-100">
        <div class="content-body">
          <div class="row">
            <div class="col-8">
              <img class="rounded-circle card-user-img" src="http://www.pirovaniwatches.com/assets/imgs/profile/gerentao-pw-site-profile.png" />
              GERENTÂO HUEHUEBR
            </div>
            <div class="col-4">
              GOLD PARTNER
            </div>
          </div>
        </div>
        <div class="content-footer">
          <div class="row">
            <div class="col">
              <p class="font-weight-light">LEDGER INOX BLACK</p>
              <h1>1000.000<sub>PRVN</sub></h1>
              <P>Publish in: 07 december 2018</P>
            </div>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-3">
      <app-card image="http://www.pirovaniwatches.com/assets/imgs/carrossel/cr1.png" [hasFooter]="true" class="w-100">
        <div class="content-body">
          <div class="row">
            <div class="col-8">
              <img class="rounded-circle card-user-img" src="http://www.pirovaniwatches.com/assets/imgs/profile/gerentao-pw-site-profile.png" />
              GERENTÂO HUEHUEBR
            </div>
            <div class="col-4">
              GOLD PARTNER
            </div>
          </div>
        </div>
        <div class="content-footer">
          <div class="row">
            <div class="col">
              <p class="font-weight-light">LEDGER INOX BLACK</p>
              <h1>1000.000<sub>PRVN</sub></h1>
              <P>Publish in: 07 december 2018</P>
            </div>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-3">
      <app-card image="http://www.pirovaniwatches.com/assets/imgs/carrossel/cr1.png" [hasFooter]="true" class="w-100">
        <div class="content-body">
          <div class="row">
            <div class="col-8">
              <img class="rounded-circle card-user-img" src="http://www.pirovaniwatches.com/assets/imgs/profile/gerentao-pw-site-profile.png" />
              GERENTÂO HUEHUEBR
            </div>
            <div class="col-4">
              GOLD PARTNER
            </div>
          </div>
        </div>
        <div class="content-footer">
          <div class="row">
            <div class="col">
              <p class="font-weight-light">LEDGER INOX BLACK</p>
              <h1>1000.000<sub>PRVN</sub></h1>
              <P>Publish in: 07 december 2018</P>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>

</div>